<mat-table matSort class="mat-elevation-z8" [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let entity">{{entity.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let entity">
            <a [routerLink]="[entity.id]">{{entity.name}}</a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthday">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Birthday</mat-header-cell>
        <mat-cell *matCellDef="let entity">{{entity.birthday | date:'fullDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sex">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sex</mat-header-cell>
        <mat-cell *matCellDef="let entity">{{entity.sex}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="profileUrl">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Profile URL</mat-header-cell>
        <mat-cell *matCellDef="let entity">{{entity.profileUrl}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="photoUrl">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Photo URL</mat-header-cell>
        <mat-cell *matCellDef="let entity">
            <img width="100" height="133" src="{{entity.photoUrl}}" alt="photo"/>
        </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>