black==21.7b0
marshmallow==3.13.0
flask==2.0.1
flask-restx==0.5.0
flask-migrate==3.0.1
gunicorn==20.1.0
flask-cors==3.0.10
flask_sqlalchemy==2.5.1
python-jose==3.3.0
python-dateutil==2.8.2
sqlalchemy==1.4.22
psycopg2-binary==2.9.1
pytest==6.2.4